<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="index.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header class="header">
      <div class="header-container">
        <div class="logo">
          <a href="/"><h1>Short URL</h1></a>
        </div>

        <nav class="navbar">
          <a href="/">Home</a>
  <% const isLogin = typeof isLoginPage !== 'undefined' ? isLoginPage : false; %>
          <% if (!isLogin){ %>
          <a href="/login"> Login</a>
          <a href="/register"> register</a>
          <% } %>
          <a href="#section2">About</a>
          <a href="#section4">Contact</a>
        </nav>
      </div>
    </header>
  </body>
</html>