<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <link rel="stylesheet" href="index.css"> -->
    <title>students</title>
</head>
<body >
   <h1>Welcome to Reports....</h1> 

    <% students.forEach(students=>{ %>
        
        <div class="students">
        <p>
        Name: <%= students.name %>, 
        Age: <%= students.age %>, 
        Marks: <%= students.marks %>
        Result: <%= students.result %>
        </p>
        </div>
       
   <% }) %>



</body>
</html>